  
  <div class="item mb-5 ">
				    <div class="row g-3 g-xl-0">
					    <div class="col">
							<a href="/" class="btn btn-light border float-end">Back to homepage</a>
							<div class="clearfix"></div>
						    <h2 class="title mb-1 "> {{name}}</h2>
							
						    <div class="meta mb-1 extrainfo">
                  <span class="date"><span class="date-title">Published on</span> {{{format_date date_created}}} 
                  <span class="date-title">by</span>
                  </span>
                  <span class="time">{{user.name}}</span>
                </div>
						    <div class="intro">{{description}}</div>
						    
					    </div><!--//col-->
				    </div><!--//row-->
			    </div><!--//item-->