
 <section class="blog-list px-3 py-5 p-md-5">
		    <div class="container single-col-max-width">
{{#each posts as |post| }}
{{> post-details-loop}}
{{/each}}
</div>
 </section>
{{!-- <script src="/js/post-redirects.js"></script> --}}
