
    <h3 class="text-center mb-5">Create Post</h3>
    <a href="/dashboard" class="btn btn-light border">Back to dashboard</a>
    <div class="mt-5">
            <div class="form-outline mb-4">
                <label class="form-label" for="post-name">Title</label>
                <input type="input" id="post-name" class="form-control form-control-lg" />
            </div>

            <div class="form-outline mb-4">
                <label class="form-label" for="post-content">Details</label>
                <textarea type="textarea" id="post-content" class="form-control form-control-lg" style="height:200px"></textarea>
            </div>
    </div>
    <div class="btn btn-primary" id = 'add-post'>Submit post</div>

<script src="/js/add-post.js"></script>