 
            <h2 class="text-center mb-5">Sign up</h2>
 


        
        <div class="panel login-container px-5 py-3 border">
            <div class="mt-5 mb-5">
            <div class="form-outline mb-4">
                <label class="form-label" for="email-login">User name</label>
                <input type="email" id="email-login" class="form-control form-control-lg" />
               
            </div>

            <div class="form-outline mb-4">
                <label class="form-label" for="password-login">Password</label>
                <input type="password" id="password-login" class="form-control form-control-lg" />
                <i class="text-danger">*Password lenght should be minimum 8 character</i>
            </div>

            <div class="form-outline mb-4">
                <label class="form-label" for="password-login">Confirm password</label>
                <input type="password" id="confirm-password-login" class="form-control form-control-lg" />
                
            </div>
            
            <div class="d-grid gap-2 col-6 mx-auto">
                <button class="btn btn-primary btn btn-block" id="register-btn" type="button">Register</button>
                <a class="btn  btn-link" href="/login"   >I already have an account</a>
            </div>
           <div class="alert alert-danger d-none error-block" role="alert">
               
            </div>
       
    </div>
</div>
<script src="/js/register.js"></script>